.header{
    background-color: $darkTheme;


        li:hover{
          font-weight: 900;
        }
    
    &_nav{
      padding-top:22px;
      display: flex;
      justify-content: space-between;
      align-items: center;

         @include breakpoints-up(medium){
              padding-top: 50px;
        }
    }
      &_logo{
        width: 100px;
        height: 30px;
        
        @include breakpoints-up(medium){
         width: 172px;
         height: 52px;
        }
      }
  
      &_list {
        display: flex;
        align-items: end;

        a:hover{
          font-weight: 900;
        }

          &-item:not(:last-child){
          margin-right: 24px;

          @include breakpoints-up(medium){
         margin-right: 60px;

          }
        }
      }
  
}






























// .header{

//     position: relative;
//     z-index: 1;
//    &.open{
//       .header-toggle{
//          > span:first-child{
//                 transform: rotate(45deg);

//               } span:nth-child(2){
//                 opacity: 0;

//               } span:last-child{
//                 transform: rotate(-45deg);

//               }
//             } 
//        }
//     // MOBILE DESIGN 
//      .overlay{
//         opacity: 0;
//         position: fixed;
//         top: 0;
//         left: 0;
//         right: 0;
//         bottom: 0;
//         background-image: linear-gradient($darkBlue, transparent);


//         &.fadeIn{
//           display: block;
//         }

//         &.fadeOut{
//           display: none;
//         }
//       }

//       nav{
//         position: relative;
//         background: $white;
//         padding-top: 17px;
//         padding-bottom: 17px;
//       } 
//      &-logo{
//           img{
//                width: 144px;
//                height: 22px;
//           }
//      }

//       // HAMBURGER MENU - MOBILE TOGGLE
//      &-toggle{
//           > span{
//                display: block;
//                width: 26px;
//                height: 2px;
//                background-color: $darkBlue;
//                transition: all 300ms ease-in-out;
//                transform-origin: 3px 1px;

//                &:not(:last-child){
//                     margin-bottom: 5px;
//                }
//           }
//       }

//          // HAMBURGER MENU - MOBILE MENU
//       &_menu{
//           position: absolute;
//           width: calc(100% - 48px);
//           left: 50%;
//           transform: translateX(-50%);  
//           background: $white;
//           margin-top: 24px;
//           padding: 26px;
//           border-radius: 5px;

        
//           a{
//             display: block;
//             color: $darkBlue;
//             padding:10px;
//             text-align: center;
//           }
//       }

//       &_links{

//          a{ 
//             position: relative;
//             font-size: 0.875rem;
//             color: $grayishBlue;
//             transition: color 300ms;

//                &:not(:last-child){
//                     margin-right: 32px;
//                }

//                // for hover line under links
//                &::before{
//                   content:"";
//                   position: absolute;
//                   display: block;
//                   height: 5px;  
//                   left: 0;
//                   right: 0;
//                   bottom: -30px;
//                   background-image: linear-gradient(to right, #31d35c, #2bb7da);
//                   opacity: 0;
//                   transition: opacity 300ms ease-in-out;
//                }
//                &:hover{
//                   color: $darkBlue;

//                     &::before{
//                      opacity: 1;
//                   }
//              }
//          }
//       }
// }