html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: #ffffff;
  line-height: 1.3;
  min-height: 300vh;
  overflow-x: hidden;
  background-color: #1C2431;
}

a, a:visited, a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

h1, h2, h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  margin-top: 0;
  line-height: 1.15;
  color: #ffffff;
}

h1 {
  font-size: 1.6875rem;
  margin-bottom: 24px;
}
@media (min-width: 1024px) {
  h1 {
    font-size: 3.25rem;
  }
}

h2 {
  font-size: 1.75rem;
  margin-bottom: 25px;
}
@media (min-width: 1024px) {
  h2 {
    font-size: 1.875rem;
    margin-bottom: 36px;
  }
}

p {
  line-height: 1.5;
  margin-bottom: 36px;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}
@media (min-width: 640px) {
  p {
    font-size: 1.2rem;
    margin-bottom: 36px;
  }
}

section {
  overflow-x: hidden;
}

.con {
  max-width: 1440px;
  margin: 0 auto;
}
.con--px {
  padding-left: 24px;
  padding-right: 24px;
}
@media (min-width: 640px) {
  .con--px {
    padding-left: 80px;
    padding-right: 80px;
  }
}

button, .button {
  display: inline-block;
  padding: 14px 35px;
  border-radius: 50px;
  background-image: linear-gradient(to right, #65E2D9, #339ECC);
  cursor: pointer;
  font-weight: 400;
  font-size: 0.875rem;
  color: #ffffff;
  transition: opacity 300ms ease-in-out;
}
button:hover, .button:hover {
  opacity: 0.75;
}

.attribution {
  font-size: 12px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media (max-width: 1023px) {
  .mob-hide {
    display: none;
  }
}

@media (min-width: 1024px) {
  .pc-hide {
    display: none;
  }
}

.header {
  background-color: #1C2431;
}
.header li:hover {
  font-weight: 900;
}
.header_nav {
  padding-top: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 640px) {
  .header_nav {
    padding-top: 50px;
  }
}
.header_logo {
  width: 100px;
  height: 30px;
}
@media (min-width: 640px) {
  .header_logo {
    width: 172px;
    height: 52px;
  }
}
.header_list {
  display: flex;
  align-items: end;
}
.header_list a:hover {
  font-weight: 900;
}
.header_list-item:not(:last-child) {
  margin-right: 24px;
}
@media (min-width: 640px) {
  .header_list-item:not(:last-child) {
    margin-right: 60px;
  }
}

.hero {
  text-align: center;
}
.hero img {
  height: auto;
  max-width: 100%;
}
.hero_image {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 280px;
  margin-top: 80px;
}
.hero_text {
  text-align: center;
}
.hero_text h1 {
  margin-top: 20px;
}
@media (min-width: 1024px) {
  .hero_text p {
    padding: 0 200px;
  }
}

.hero_backdrop {
  position: absolute;
  background-size: max(50%, 400px);
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  left: 0;
  right: 0;
  top: 47%;
}
@media (min-width: 414px) {
  .hero_backdrop {
    top: 57%;
  }
}
@media (min-width: 500px) {
  .hero_backdrop {
    top: 68%;
  }
}
@media (min-width: 640px) {
  .hero_backdrop {
    top: 125%;
  }
}

.services {
  background-color: #181F2A;
  margin-top: -66%;
}
@media (min-width: 414px) {
  .services {
    margin-top: -47%;
  }
}
@media (min-width: 640px) {
  .services {
    margin-top: -8%;
  }
}
@media (min-width: 1024px) {
  .services {
    margin-top: 10%;
  }
}

.services_offer {
  background-color: #181F2A;
  text-align: center;
  padding-top: 360px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 150px;
}
@media (min-width: 640px) {
  .services_offer {
    padding: 30px 155px;
  }
}
.services_offer .services_row {
  margin-top: 13%;
}
@media (min-width: 640px) {
  .services_offer .services_row {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
}
.services_offer .services_col {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 80px;
  padding-left: 20px;
}
.services_offer .services_col-icon {
  margin-bottom: 50px;
  width: 83px;
  height: 78px;
}
.services_offer .services_col-icon .serv-desc {
  margin: 0 auto;
  font-size: 1rem;
}

.article {
  background-color: #181F2A;
  padding-left: 24px;
  padding-right: 24px;
}
.article_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
  flex-direction: column;
}
@media (min-width: 640px) {
  .article_content {
    flex-direction: row;
    margin-bottom: -10px;
  }
}
@media (min-width: 1024px) {
  .article_content {
    flex-direction: row;
    margin-bottom: -10px;
    padding-left: 80px;
    padding-right: 80px;
  }
}
.article_text {
  order: 1;
  padding: 27px 10px;
  text-align: left;
}
@media (min-width: 640px) {
  .article_text {
    width: 100%;
    text-align: center;
    padding-left: 20px;
  }
}
@media (min-width: 1024px) {
  .article_text {
    width: 50%;
    text-align: left;
    padding-left: 20px;
  }
}
.article_text-description {
  font-size: 0.875rem;
}
@media (min-width: 1024px) {
  .article_text-description {
    font-size: 1rem;
  }
}
.article_text-cta {
  font-size: 0.875rem;
  color: #65E2D9;
}
.article_text-cta:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}
@media (min-width: 1024px) {
  .article_text {
    font-size: 1rem;
  }
}
.article .article_image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
@media (min-width: 640px) {
  .article {
    min-height: 450px;
  }
}
@media (min-width: 1024px) {
  .article {
    min-height: 595px;
    padding-bottom: 60px;
  }
}

.testimonial {
  background-color: #181F2A;
  padding-top: 50px;
  padding-bottom: 200px;
}
.testimonial-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
@media (min-width: 640px) {
  .testimonial-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.testimonial .testimonial-card {
  background-color: #202A3C;
  border-radius: 5px;
  overflow: hidden;
  padding: 30px;
  max-width: 25rem;
  height: 100%;
  margin: 0 auto;
  transition: transform 150ms ease-in-out;
}
.testimonial .testimonial-card:hover {
  transform: scale(1.05);
}
.testimonial .testimony-profile {
  display: flex;
  align-items: center;
}
.testimonial .testimony-profile .testimony-image img {
  width: 3rem;
  border-radius: 50%;
}
.testimonial .testimony-profile .testimony-profile-text {
  margin-left: 25px;
}
.testimonial .testimony-profile .testimony-name {
  font-weight: 900;
}

.signup {
  text-align: center;
  background: linear-gradient(to bottom, #181F2A 50%, #0B1523 50%);
}
.signup-content {
  background-color: #1C2431;
  border-radius: 5px;
  overflow: hidden;
  padding: 30px;
  max-width: 20rem;
  height: 100%;
  margin: 0 auto;
  box-shadow: 3px 2px 9px 10px rgba(0, 0, 0, 0.39);
}
@media (min-width: 640px) {
  .signup-content {
    min-width: 44rem;
  }
}
.signup-title {
  font-weight: 900;
}
.signup-text {
  line-height: 1.7;
  margin-bottom: 20px;
}
.signup-input {
  margin-bottom: 20px;
}
@media (min-width: 640px) {
  .signup-input {
    display: inline-block;
  }
}
.signup-input input {
  display: inline-block;
  padding: 14px 35px;
  border-radius: 50px;
  font-weight: 400;
  font-size: 0.875rem;
}
@media (min-width: 1024px) {
  .signup-input input {
    width: 300px;
  }
}
.signup-btn {
  padding: 14px 60px;
}

.footer {
  background: #0B1523;
}
.footer a {
  color: #ffffff;
  margin-bottom: 1rem;
}
.footer a:hover {
  font-weight: 900;
}
.footer-logo {
  padding-top: 100px;
  padding-bottom: 50px;
}
@media (min-width: 1024px) {
  .footer-content {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "address contact links1 links2 social";
    gap: 1rem;
    justify-items: start;
  }
}
.footer-icon {
  margin-right: 20px;
}
@media (min-width: 640px) {
  .footer .address {
    grid-area: address;
  }
}
.footer .contact {
  margin-bottom: 30px;
}
.footer .contact .footer-content-number {
  margin-top: 10px;
  margin-bottom: 10px;
}
@media (min-width: 640px) {
  .footer .contact .footer-content-number {
    margin-top: 0;
  }
}
@media (min-width: 640px) {
  .footer .contact {
    grid-area: contact;
  }
}
.footer .footer-links1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
@media (min-width: 640px) {
  .footer .footer-links1 {
    grid-area: links1;
    margin: 0 auto;
  }
}
.footer .footer-links2 {
  display: flex;
  flex-direction: column;
}
@media (min-width: 640px) {
  .footer .footer-links2 {
    grid-area: links2;
    margin: 0 auto;
  }
}
.footer .footer-social {
  text-align: center;
  padding-bottom: 20px;
}
.footer .footer-social a {
  margin-right: 10px;
}
.footer .footer-social svg {
  border: 1px solid #ffffff;
  border-radius: 50px;
}
.footer .footer-social svg:hover {
  fill: #ffffff;
}
@media (min-width: 640px) {
  .footer .footer-social {
    grid-area: social;
  }
}

/*# sourceMappingURL=style.css.map */
